[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
djangorestframework-gis = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
pika = "*"
paho-mqtt = "*"
configparser = "*"
python-decouple = "*"
django-admin-interface = "*"
pyrabbit2 = "*"
dataclasses-json = "*"
drf-yasg = "*"
requests = "*"
docker = "*"
django-admin-row-actions = "*"
Django = "*"
celery = "*"
kombu = "*"
django-celery-results = "*"
django-celery-beat = "*"
django-modeladmin-reorder = "*"
django-simple-history = "*"
django-nonrelated-inlines = "*"
SQLAlchemy = "==1.3.23"

[requires]
python_version = "3.7"
