[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
djangorestframework = "*"
djangorestframework-gis = "*"
djangorestframework-simplejwt = "*"
psycopg2-binary = "*"
pika = "*"
paho-mqtt = "*"
configparser = "*"
python-decouple = "*"
django-admin-interface = "*"
pyrabbit2 = "*"
dataclasses-json = "*"
drf-yasg = "*"
requests = "*"
docker = "*"
django-admin-row-actions = "*"
Django = "*"

[requires]
python_version = "3.7"
