[
        { rabbit, [
                { loopback_users, [ ] },
                { tcp_listeners, [5672] },
                { ssl_listeners, [5671] },
                { ssl_options, [
                    {cacertfile,"/etc/ssl/certs/ca_certificate.pem"},
                    {certfile,"/etc/ssl/certs/server_certificate.pem"},
                    {keyfile,"etc/ssl/certs/server_key.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true},
                    {versions, ['tlsv1.2', 'tlsv1.1']}
                ]},
                { log_levels, [
                    {connection, info},
                    {channel, warning}
                ]}
        ] },
        { rabbitmq_prometheus, [
                { return_per_object_metrics, true}
        ] },
        { rabbitmq_management, [
                {load_definitions, "/etc/rabbitmq/definitions.json"},
                {http_log_dir, "/var/log/rabbitmq/log/rabbit-http.log"},
                { listener, [
                    { port, 15672 },
                    { ssl, false }] }
        ] },
        {rabbitmq_mqtt, [
               {allow_anonymous,   false},
               {tcp_listeners,    [1883]},
               {ssl_listeners,    [8883]},
               {ssl_options, [
                  {cacertfile,"/path/to/ca_certificate.pem"},
                  {certfile,"/path/to/server_certificate.pem"},
                  {keyfile,"/path/to/server_key.pem"},
                  {verify,verify_peer},
                  {fail_if_no_peer_cert,true},
                  {versions, ['tlsv1.2', 'tlsv1.1']}
               ]}
        ] }
].