[
        { rabbit, [
                { loopback_users, [ ] },
                { tcp_listeners, [5672] },
                { ssl_listeners, [5671] },
                { ssl_options, [
                    {cacertfile,"/etc/ssl/certs/ca_certificate.pem"},
                    {certfile,"/etc/ssl/certs/server_certificate.pem"},
                    {keyfile,"etc/ssl/certs/server_key.pem"},
                    {verify,verify_peer},
                    {fail_if_no_peer_cert,true},
                    {versions, ['tlsv1.2', 'tlsv1.1']}
                ]}
        ] },
        { rabbitmq_prometheus, [
                { return_per_object_metrics, true}
        ] },
        { rabbitmq_management, [
                {load_definitions, "/etc/rabbitmq/definitions.json"},
                {http_log_dir, "/var/log/rabbitmq/log/rabbit-http.log"},
                { listener, [
                    { port, 15672 },
                    { ssl, false }] }
        ] },
        {rabbitmq_mqtt, [
               {ssl_listeners,    [8883]},
               {tcp_listeners,    [1883]},
               {allow_anonymous,   false}
        ] },
        {lager, [
                {handlers,
                   [{lager_file_backend,
                        [{file,
                             "/var/log/rabbitmq/log/rabbit.log"},
                         {formatter_config,
                             [date," ",time," ",color,"[",severity,"] ",
                              {pid,[]},
                              " ",message,"\n"]},
                         {level,warning},
                         {date,""},
                         {size,0}]}]},
                {extra_sinks,
                   [{rabbit_log_upgrade_lager_event,
                        [{handlers,
                            [{lager_file_backend,
                                [{date,[]},
                                 {file,
                                       "/var/log/rabbitmq/log/rabbit_upgrade.log"},
                                 {formatter_config,
                                    [date," ",time," ",color,"[",severity,
                                     "] ",
                                     {pid,[]},
                                     " ",message,"\n"]},
                                 {level,warning},
                                 {size,0}]}
                            ]}
                        ]}
                   ]}
        ]}
].