{% extends "admin/base.html" %}

{% load leaflet_tags %}
{% load static %}

{% block extrahead %}
{{ block.super }}
  {% leaflet_js %}
  {% leaflet_css %}
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
  <style>
      html, body {
          height: 100%;
          overflow: hidden;
          width: 100%;
      }
      .leaflet-container {
          height: 100%;
      }
  </style>
{% endblock %}

{% block content %}
<div id="content-main">

  {% leaflet_map "main" callback="main_map_init" %}

  <script type="text/javascript">
      let mylat = 43.91372326852401;
      let mylon = 21.4508056640625;
      function main_map_init (map, options) {
          var dataurl = '{% url "data" %}';
          map.setView([mylat, mylon], 7);
          $.getJSON(dataurl, function (data) {
              // Add GeoJSON layer
              console.log(data);
              L.geoJson(data, {
                  onEachFeature: function(feature, layer){
                      layer.bindTooltip(''+
                          '<h3>' + feature.properties.device_id + '</h3>' +
                          '<ul>' +
                              '<li> mode: ' + feature.properties.mode + '</li>' +
                              '<li> status: ' + feature.properties.status + '</li>' +
                          '</ul>', {closeButton: false, offset: L.point(0, -20)}
                      );
                  }
              }).addTo(map);
          });
          $.getJSON('{% url "borders" %}', function (data) {
              L.geoJson(data, {
                  onEachFeature: function(feature, layer) {
                      layer.bindPopup('<h3>' + feature.properties['code'] + '</h3>' +
                                      '<li><a href="/admin/app/municipality/' + feature.properties['id']+ '/change/">' +
                                      feature.properties['name'] +
                                      '</a></li>',
                                      {
                                          closeButton: false,
                                          closeOnClick: true,
                                          closeOnEscapeKey: true,
                                          autoClose: true
                                      })
                            .addTo(map);
<!--                  onEachFeature: function(feature, layer) {-->
<!--                      layer.bindPopup(feature.properties['laa'], {-->
<!--                          closeButton: false,-->
<!--                          closeOnClick: true,-->
<!--                          closeOnEscapeKey: true,-->
<!--                          autoClose: true-->
<!--                      }).addTo(map);-->
<!--                      var polygonCenter = layer.getBounds().getCenter();-->
<!--                      L.circleMarker(polygonCenter, radius=1, weight=1, pane='markerPane')-->
<!--                        .bindTooltip(feature.properties['laa'])-->
<!--                        .addTo(map);-->
                  }
              }).addTo(map);
          });
      }
  </script>

</div>
{% endblock %}

{% block sidebar %}

{% endblock %}