django
djangorestframework
djangorestframework-gis
djangorestframework-simplejwt
django-admin-interface
psycopg2-binary
configparser
python-decouple
pyrabbit2
pika
paho-mqtt
dataclasses-json
docker
requests
celery
kombu
django_celery_results
django_celery_beat
drf-yasg
sqlalchemy==1.3.23